body {
	background-color: bisque;
}

h1 {
	font-family: 'Noto Sans, sans-serif';
	font-size: 400%;
	text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.6);
	text-align: center;
}

h3.display-4 {
	font-family: 'Lora', serif;
	text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.6);
	text-align: center;
}

.card-body#options {
	text-align: center;
	font-size: larger;
}

.modal-header {
	background-repeat: no-repeat;
	background-size: cover;
}

h4.modal-title {
	font-family: 'Lora', serif;
	text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.6);
	text-align: center;
	color: white;
}

.greeting {
	text-align: center;
}

button.close {
	color: white;
}

.modal-body {
	text-align: center;
}

img#friend-photo {
	max-width: 60%;
	max-height: none;
}

@media (max-width: 868px) {
	h1 {
		font-size: 400%;
	}
}
